@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  font-family: "Otomanopee One", sans-serif;
  background-color: #f1f1d1;
  position: relative;
  /* center container  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
input {
  width: 130px !important;
  height: 27px;
  border: 2px solid #003638;
  border-radius: 12px;
}
input:focus {
  outline: none;
}
h1,
h2,
h3,
p {
  color: #f3f2c9 !important;
}
.container {
  width: 50%;
  color: #0a1931;
  background-image: url("https://images.unsplash.com/photo-1596628525676-e7ab28fcc866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  padding: 2% 3%;
  border-radius: 2%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.title-city {
  text-transform: capitalize;
}
.location {
  float: right;
  width: 250px;
}
.temperature {
  padding-top: 5%;
  text-align: center;
}
.temperature h2 {
  font-size: 2em;
}
.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 7%;
  gap: 10px;
}

.uil-cloud {
  font-size: 50px;
  color: #53b8bb;
}

.forecast-item {
  background-color: #f3f2c9;
  border-radius: 7%;
  padding: 7% 10%;
  text-align: center;
}
.degres,
.date {
  color: #003638;
  font-size: 1.3em;
}
.wind,
.description {
  flex-basis: 100%;
}
.description {
  font-size: 1.6em;
}
.wind {
  font-size: 1.35rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .location {
    float: right;
    width: 130px;
  }
  .forecast {
    gap: 5px;
  }
}
