@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  background-color: #3edbf0;
  position: relative;
}
input {
  width: 130px !important;
  margin: 10%;
  height: 2em;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 50%;
  margin: 10% 0 0 -30%;
  color: #0a1931;
  background-image: url("https://images.unsplash.com/photo-1572966101025-e199cab72196?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80");
  padding: 3% 5%;
  border-radius: 2%;
}
h2,
h3 {
  font-family: "Otomanopee One", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}
.location {
  float: right;
  width: 250px;
}
.temperature {
  padding-top: 5%;
}
.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 7%;
  gap: 10px;
}

.uil-cloud {
  font-size: 2em;
  color: white;
}

.forecast-item {
  background-color: #c0fefc;
  /* opacity: 0.6; */
  border-radius: 7%;
  padding: 7% 10%;
}

.degres {
  font-family: "Bree Serif", serif;
}
.wind,
.description {
  flex-basis: 100%;
}
.wind {
  font-size: 0.8rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* input {
    width: 30%;
    margin: 3%;
  }

  .temperature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
  }

  .forecast {
    display: flex;
    padding-top: 5%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .forecast-item {
    width: 150px;
    padding: 2% 3%;
  } */
}
