@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  background-color: #3edbf0;
  position: relative;
}
/* input {
  width: 80%;
  margin: 10%;
  height: 2.5em;
} */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 50%;
  margin: 10% 0 0 -25%;
  color: #0a1931;
  background-color: #158c9c;
}
h2,
h3 {
  font-family: "Otomanopee One", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}
.location {
  float: right;
}
.temperature {
  padding-top: 80%;
}
.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 15%;
  gap: 5px;
}

.uil-cloud {
  font-size: 2em;
  color: white;
}

.forecast-item {
  background-color: #c0fefc;
  /* opacity: 0.6; */
  border-radius: 7%;
  padding: 7% 10%;
}

.degres {
  font-family: "Bree Serif", serif;
}
.wind,
.description {
  flex-basis: 100%;
}
.wind {
  font-size: 0.8rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  input {
    width: 30%;
    margin: 3%;
  }
  .city-image {
    height: 30%;
  }
  .container {
    max-width: 12450px;
  }
  .temperature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
  }

  .forecast {
    display: flex;
    padding-top: 5%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .forecast-item {
    width: 150px;
    padding: 2% 3%;
  }
}
